---
import { Image } from "astro:assets";
import { getFormattedDate } from "@/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  content: CollectionEntry<"post">;
}

const {
  content: { data },
} = Astro.props;

const datetime = data.publishDate.toISOString();
const postDate = getFormattedDate(data.publishDate, { month: "long" });
---

{
  data.coverImage && (
    <div class="aspect-h-9 aspect-w-16 mb-6">
      <Image
        src={data.coverImage.src}
        alt={data.coverImage.alt}
        class="object-cover"
        loading="eager"
        fetchpriority="high"
      />
    </div>
  )
}
<h1 class="title mb-3 sm:mb-1">{data.title}</h1>
<time datetime={datetime}>{postDate}</time>
<p class="post-summary mt-8">{data.description}</p>
